/*
*	Style specific to the navigation bar and the view container.
*/

body {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) auto;
	height: 100dvh;
}

#view {
	grid-column: 1;
	grid-row: 1;
	overflow: auto;
	min-height: 0; /* or content refuses to scroll */
}

/*
*	Navigation bar style.
*/

#nav {
	grid-column: 1;
	grid-row: 2;

	background-color: var(--color-accent-light);
	border-top: 2px solid var(--color-accent-dark);
	padding: .2rem .3rem;
	padding-bottom: max(.3rem, env(safe-area-inset-bottom));

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#nav > .nav-app,
#nav > .nav-options {
	display: contents;
}

#nav a {
	min-width: 44px;
	min-height: 44px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#nav .icon {
	width: 3rem;
	height: 3rem;
	flex: none;
	margin: 5px 2px;

	transform-origin: center;
	transition: transform 180ms ease-out;

	color: var(--color-accent-interact-active);
}

#nav a:active .icon {
	transform: scale(0.85);
	transition: transform 60ms ease-out;
}

/*
@media (hover: hover) and (pointer: fine) {
	#nav a:hover .icon,
	#nav a:focus-visible .icon {
		transform: scale(1.15);
	}
}
*/

/*
*	WIDE SCREEN.
*/

@media (min-width: 35rem) {
	body {
		grid-template-columns: max-content minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
	}

	#view {
		grid-column: 2;
		grid-row: 1;
	}

	#nav {
		grid-column: 1;
		grid-row: 1 / -1;

		border-top: none;
		border-right: 2px solid var(--color-accent-dark);
		padding: .2rem .3rem;

		flex-flow: column nowrap;
		justify-content: flex-start;
	}

	#nav > .nav-app {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	#nav > .nav-options { display: block; }

	#nav a {
		min-width: 0;
		min-height: 0;
	}

	#nav .icon {
		width: 2em;
		height: 2em;
	}
}